[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "==1.3.0"
requests = "*"
seaborn = "*"
matplotlib = "*"
mlflow = "*"
hyperopt = "*"
xgboost = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"
requests = "*"

[requires]
python_version = "3.11"
